#top_menu {
    margin: auto;
    overflow:hidden;
    border: 1px solid aqua;
    background-color: royalblue;
    height:55px;
    width: 900px;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    display: block;
    text-align: center;
    }
a{
    text-decoration: none;
    color:#ffdab6;
    }
#top_menu li{
    background-color:inherit;
    float:left;
    border:none;
    outline:none;
    cursor:pointer;
    padding: 15px 20px;
    transition:0.3s;
    list-style-type: none; /* Убираем маркеры */
    font-size: 20px;
    font-family: Arial, Helvetica;
    }
#top_menu a:hover {
     color:#fff;
    }
#top_menu a:hover span{
    display:block;
    cursor:pointer;
}
.logo{
   display: block;
text-align: center;
cursor: pointer;
margin: auto;
margin-right: 650px;
margin-top: 10px;
   }
.phone {
  color: aqua;
    font-size: 1.6em;
    display: block;
    text-align: center;
    padding: 10px;
    margin:auto;
    margin-top: -50px;
    margin-left: 650px;
}

h1{
    margin:auto;
    color:black;
    text-align: center;
    margin-left: -270px;
    }
body{
    background: url('images/166689.jpg')fixed;
    background-size: cover;
    margin: auto;
}
.outline {
            margin: auto;
            display: block;
            text-align: center;
            word-spacing: 25px;
            width: 950px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 20px;
            color:black;
            border-bottom: 10px solid aqua;
            border-bottom-width: 15px;
            border-bottom-color: royalblue;
        }
.header_img {
                display: block;
    text-align: center;
    margin: auto;
    margin-top: -15px;
                border-bottom: 1px solid royalblue;
                border-bottom-width: 30px;
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
    width: 940px;
              }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 965px){
    body{
    margin:auto;
  }
    
    .logo{
    margin: auto;
    float: left;
    }
    .phone{
        margin: auto;
        float: right;
    }
    #top_menu{
        
        margin: auto;
        
    }
    .header_img{
        margin:auto;
        text-align:center;
        border-bottom-width:inherit;
        width: auto;
    }
 .outline{
  margin: auto;
  font-size:initial;
      }
h1{
  margin: auto;
  text-align:center;
}